body {
    font-family: Arial, sans-serif;
    background-color: #f69292;
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a5d2ef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-bottom: 20px;
}
.slider-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
}
.slide img {
    max-width: 100%;
    height: auto;
}
